a {
    text-decoration: none;
}

.productCard {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px silver;
    padding: 4px;
    margin: 10px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.productCard img {
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0 0;
}

.productCard h3, .productCard p {
    color: black;
    margin: 5px;
}

.textCenter {
    text-align: center;
}
