.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: var(--craft-color);
  color: white;
}

.App-header ul {
  display: flex;
  align-items: center;
}

.App-header li {
  padding: 10px;
}

.App-header li:hover {
  background-color: var(--black);
}

.App-header a {
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

.site-logo {
  width: 100px;
  background-color: #e2d2c6;
  border-radius: 50%;
}

button {
  border: none;
}

img {
  object-fit: cover;
  object-position: center;
}