body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  border: none;
}

img {
  object-fit: cover;
  object-position: center;
}

:root {
  --red: #E24D36;
  --orange: #F4A045;
  --green: #99CA37;
  --yellow: #FFF27B;
  --craft-color: #D5BCAB;
  --black: #2C2C2C;
}
